# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 7</font>

## Download: http://github.com/dsacademybr

## Missão: Analisar o Comportamento de Compra de Consumidores.

## Nível de Dificuldade: Alto

Você recebeu a tarefa de analisar os dados de compras de um web site! Os dados estão no formato JSON e disponíveis junto com este notebook.

No site, cada usuário efetua login usando sua conta pessoal e pode adquirir produtos à medida que navega pela lista de produtos oferecidos. Cada produto possui um valor de venda. Dados de idade e sexo de cada usuário foram coletados e estão fornecidos no arquivo JSON.

Seu trabalho é entregar uma análise de comportamento de compra dos consumidores. Esse é um tipo de atividade comum realizado por Cientistas de Dados e o resultado deste trabalho pode ser usado, por exemplo, para alimentar um modelo de Machine Learning e fazer previsões sobre comportamentos futuros.

Mas nesta missão você vai analisar o comportamento de compra dos consumidores usando o pacote Pandas da linguagem Python e seu relatório final deve incluir cada um dos seguintes itens:

** Contagem de Compradores **

* Número total de compradores


** Análise Geral de Compras **

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


** Informações Demográficas Por Gênero **

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


** Análise de Compras Por Gênero **

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


** Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela): **

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Itens mais populares


** Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra
* Itens mais lucrativos


** Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela): **

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


** Como considerações finais: **

* Seu script deve funcionar para o conjunto de dados fornecido.
* Você deve usar a Biblioteca Pandas e o Jupyter Notebook.

In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Carrega o arquivo
load_file = "dados_compras.json"
purchase_file = pd.read_json(load_file, orient = "records")
purchase_file.head()

,Idade,Item ID,Login,Nome do Item,Sexo,Valor
0,38,165,Aelalis34,Bone Crushing Silver Skewer,Masculino,3.37
1,21,119,Eolo46,"Stormbringer, Dark Blade of Ending Misery",Masculino,2.32
2,34,174,Assastnya25,Primitive Blade,Masculino,2.46
3,21,92,Pheusrical25,Final Critic,Masculino,1.36
4,23,63,Aela59,Stormfury Mace,Masculino,1.27

## Informações Sobre os Compradores

In [3]:
player_demographics = purchase_file.loc[:, ["Sexo", "Login", "Idade"]]
player_demographics.head()

        Sexo         Login  Idade
0  Masculino     Aelalis34     38
1  Masculino        Eolo46     21
2  Masculino   Assastnya25     34
3  Masculino  Pheusrical25     21
4  Masculino        Aela59     23

In [4]:
# Limpeza dos dados e remoção de duplicatas
player_demographics = player_demographics.drop_duplicates()
player_count = player_demographics.count()[0]
player_count

573

In [5]:
# Converter saída para DF para uso posterior em análise
pd.DataFrame({"Total de Jogadores" : [player_count]})

   Total de Jogadores
0                 573

## Análise de Compra

In [6]:
# Cálculos básicos
average_item_price = purchase_file["Valor"].mean()
total_item_price = purchase_file["Valor"].sum()
total_item_count = purchase_file["Valor"].count()
item_id = len(purchase_file["Item ID"].unique())

# Dataframe para os resultados
summary_calculations = pd.DataFrame({"Número de Itens Únicos" : item_id,
                                     "Número de Compras" : total_item_count, 
                                     "Total de Vendas" : total_item_price, 
                                     "Preço Médio" : [average_item_price]})

# Data Munging
summary_calculations = summary_calculations.round(2)
summary_calculations ["Preço Médio"] = summary_calculations["Preço Médio"].map("${:,.2f}".format)
summary_calculations ["Total de Vendas"] = summary_calculations["Total de Vendas"].map("${:,.2f}".format)
summary_calculations = summary_calculations.loc[:, ["Número de Itens Únicos", "Preço Médio", "Número de Compras", "Total de Vendas"]]

summary_calculations

   Número de Itens Únicos Preço Médio  Número de Compras Total de Vendas
0                     183       $2.93                780       $2,286.33

In [7]:
purchase_file["Item ID"].unique()

array([165, 119, 174,  92,  63,  10, 153, 169, 118,  99,  57,  47,  81,
        77,  44,  96, 123,  59,  91, 177,  78,   3,  11, 183,  65, 132,
       106,  49,  45, 155,  37,  48,  90,  13, 171,  25,   7, 124,  68,
        85, 120,  17, 141,  73, 151,  32,  51, 101, 140,  31,  34,   2,
        86,  39,  28, 160, 134,  83,  38, 158, 110, 122,  54, 105,  87,
        23, 144, 128, 175,  46, 150, 152, 108, 172, 167, 181,  20, 130,
       111, 103,  30, 139, 173,  55, 115,  35,  42,   9,  84, 180, 102,
        53,  18,  74, 126,  50,  62, 125, 121, 129, 149,  12,  71,  14,
        58,  27,  52,  66, 100, 112,  24,  94, 107,   0, 182,  97,  70,
        89,   1, 170,  93, 179,  36,  75, 143, 137, 176, 148, 127, 147,
       161, 154, 157, 116,  61, 131,  41, 145,  60, 162, 135,   8,  40,
        15,  29,  72, 114, 117,  79,  88, 104,  95,  64,  98,  33,  76,
       146, 166,  56,  22,  21,  16,  67, 133,  69, 159,  82, 113, 164,
         6, 163,   5,  19, 168, 136,  80,  26, 142, 178, 156, 109,  43,
         4])

## Informações Demográficas

In [8]:
# Cálculos básicos
gender_count = player_demographics["Sexo"].value_counts()
gender_percent = (gender_count / player_count) * 100

# Dataframe para os resultados
gender_demographics = pd.DataFrame({"Sexo" : gender_count, 
                                    "%" : gender_percent})

# Data Munging
gender_demographics = gender_demographics.round(2)
gender_demographics ["%"] = gender_demographics["%"].map("{:,.1f}%".format)

In [9]:
# Output Test
gender_count

Masculino                465
Feminino                 100
Outro / Não Divulgado      8
Name: Sexo, dtype: int64

In [10]:
# Output Test
gender_percent

Masculino                81.151832
Feminino                 17.452007
Outro / Não Divulgado     1.396161
Name: Sexo, dtype: float64

In [11]:
# Output Test
gender_demographics

                           %  Sexo
Masculino              81.2%   465
Feminino               17.4%   100
Outro / Não Divulgado   1.4%     8

## Análise de Compra Por Gênero

In [12]:
# Agrupamentos
gender_total_item_price = purchase_file.groupby(["Sexo"]).sum()["Valor"].rename("Total de Vendas")
gender_average_item_price = purchase_file.groupby(["Sexo"]).mean()["Valor"].rename("Average Price")
purchase_count = purchase_file.groupby(["Sexo"]).count()["Valor"].rename("Número de Compras")
normalized_total = gender_total_item_price / gender_demographics["Sexo"]

# Armazenando o resultado em um Dataframe
gender_purchasing_analysis = pd.DataFrame({"Número de Compras" : purchase_count, 
                                           "Valor Médio Por Item" : gender_average_item_price, 
                                           "Total de Vendas" : gender_total_item_price, 
                                           "Total Normalizado" : normalized_total})

# Data Munging
gender_purchasing_analysis = gender_purchasing_analysis.round(2)
gender_purchasing_analysis ["Valor Médio Por Item"] = gender_purchasing_analysis["Valor Médio Por Item"].map("${:,.2f}".format)
gender_purchasing_analysis ["Total de Vendas"] = gender_purchasing_analysis["Total de Vendas"].map("${:,.2f}".format)
gender_purchasing_analysis ["Total Normalizado"] = gender_purchasing_analysis["Total Normalizado"].map("${:,.2f}".format)

In [13]:
# Resultado
gender_total_item_price

Sexo
Feminino                  382.91
Masculino                1867.68
Outro / Não Divulgado      35.74
Name: Total de Vendas, dtype: float64

In [14]:
# Resultado
gender_average_item_price

Sexo
Feminino                 2.815515
Masculino                2.950521
Outro / Não Divulgado    3.249091
Name: Average Price, dtype: float64

In [15]:
# Resultado
gender_purchasing_analysis

,Número de Compras,Total Normalizado,Total de Vendas,Valor Médio Por Item
Sexo,,,,
Feminino,136,$3.83,$382.91,$2.82
Masculino,633,$4.02,"$1,867.68",$2.95
Outro / Não Divulgado,11,$4.47,$35.74,$3.25

In [16]:
# Resultado
normalized_total

Feminino                 3.829100
Masculino                4.016516
Outro / Não Divulgado    4.467500
dtype: float64

## Análise Demográfica

In [17]:
player_demographics

          Sexo            Login  Idade
0    Masculino        Aelalis34     38
1    Masculino           Eolo46     21
2    Masculino      Assastnya25     34
3    Masculino     Pheusrical25     21
4    Masculino           Aela59     23
5    Masculino       Tanimnya91     20
6    Masculino      Undjaskla97     20
7     Feminino     Iathenudil29     29
8    Masculino     Sondenasta63     25
9    Masculino       Hilaerin92     31
10   Masculino       Chamosia29     24
11   Masculino          Sally64     20
12   Masculino        Iskossa88     30
13   Masculino  Seorithstilis90     23
14   Masculino        Sundast29     40
15   Masculino       Haellysu29     21
16    Feminino       Sundista85     22
17    Feminino        Aenarap34     22
18   Masculino        Iskista88     28
19   Masculino        Assossa43     31
20   Masculino          Irith83     24
21   Masculino      Iaralrgue74     15
22    Feminino         Deural48     11
23   Masculino       Chanosia65     19
24   Masculino         Qarwen67     11
25   Masculino           Idai61     21
26   Masculino    Aerithllora36     29
28   Masculino      Ilariarin45     15
29    Feminino        Phaedai25     16
30    Feminino       Eulaeria40     21
..         ...              ...    ...
729  Masculino     Iskichinya81     16
730   Feminino     Hiadanurin36     10
731   Feminino        Tyaelly53     20
732   Feminino         Shidai42     23
733  Masculino     Bartassaya73     16
734  Masculino    Mindosiasya28     13
736  Masculino      Indirrian56     19
737  Masculino         Sondim68     22
739   Feminino        Cosadar58     35
741  Masculino        Leyirra83     24
742  Masculino        Inguron55     26
746  Masculino        Ralasti48     35
747  Masculino          Lamon28     32
748  Masculino           Isri49     15
750  Masculino         Eollym91     23
752   Feminino    Yalostiphos68     15
755   Feminino      Ailaesuir66     22
756  Masculino         Siasri67     22
758  Masculino      Ryastycal90     20
761  Masculino      Raeduerin33     28
764  Masculino     Assassasda84     25
766   Feminino      Nitherian58     22
768  Masculino     Chamucosda93     21
769  Masculino   Frichilsasya78     24
770  Masculino         Aenasu69     22
771  Masculino       Lassista97     24
772  Masculino          Sidap51     15
773  Masculino    Chamadarsda63     21
778  Masculino       Quelaton80     20
779   Feminino           Alim85     23

[573 rows x 3 columns]

In [18]:
# Cálculos básicos
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999]
age_bracket = ["Menos de 10", "10 a 14", "15 a 19", "20 a 24", "25 a 29", "30 a 34", "35 a 39", "Mais de 40"]

purchase_file["Range de Idades"] = pd.cut(purchase_file["Idade"], age_bins, labels=age_bracket)

# Cálculos básicos
age_demographics_count = purchase_file["Range de Idades"].value_counts()
age_demographics_average_item_price = purchase_file.groupby(["Range de Idades"]).mean()["Valor"]
age_demographics_total_item_price = purchase_file.groupby(["Range de Idades"]).sum()["Valor"]
age_demographics_percent = (age_demographics_count / player_count) * 100

# Dataframe para os resultados
age_demographics = pd.DataFrame({"Contagem": age_demographics_count, "%": age_demographics_percent, "Valor Unitario": age_demographics_average_item_price, "Valor Total de Compra": age_demographics_total_item_price})

# Data Munging
age_demographics ["Valor Unitario"] = age_demographics["Valor Unitario"].map("${:,.2f}".format)
age_demographics ["Valor Total de Compra"] = age_demographics["Valor Total de Compra"].map("${:,.2f}".format)
age_demographics ["%"] = age_demographics["%"].map("{:,.2f}%".format)

In [19]:
# Resultado
player_demographics.head()

        Sexo         Login  Idade
0  Masculino     Aelalis34     38
1  Masculino        Eolo46     21
2  Masculino   Assastnya25     34
3  Masculino  Pheusrical25     21
4  Masculino        Aela59     23

In [20]:
# Resultado
age_demographics = age_demographics.sort_index()
age_demographics

                  %  Contagem Valor Total de Compra Valor Unitario
10 a 14       6.11%        35                $96.95          $2.77
15 a 19      23.21%       133               $386.42          $2.91
20 a 24      58.64%       336               $978.77          $2.91
25 a 29      21.82%       125               $370.33          $2.96
30 a 34      11.17%        64               $197.25          $3.08
35 a 39       7.33%        42               $119.40          $2.84
Mais de 40    2.97%        17                $53.75          $3.16
Menos de 10   4.89%        28                $83.46          $2.98

## Top Spenders

In [21]:
# Cálculos básicos
user_total = purchase_file.groupby(["Login"]).sum()["Valor"].rename("Valor Total de Compra")
user_average = purchase_file.groupby(["Login"]).mean()["Valor"].rename("Valor Médio de Compra")
user_count = purchase_file.groupby(["Login"]).count()["Valor"].rename("Número de Compras")

# Dataframe para os resultados
user_data = pd.DataFrame({"Valor Total de Compra": user_total, "Valor Médio de Compra": user_average, "Número de Compras": user_count})

# Data Munging
user_data ["Valor Total de Compra"] = user_data["Valor Total de Compra"].map("${:,.2f}".format)
user_data ["Valor Médio de Compra"] = user_data["Valor Médio de Compra"].map("${:,.2f}".format)
user_data.sort_values("Valor Total de Compra", ascending=False).head(5)

              Número de Compras Valor Médio de Compra Valor Total de Compra
Login
Qarwen67                      4                 $2.49                 $9.97
Sondim43                      3                 $3.13                 $9.38
Tillyrin30                    3                 $3.06                 $9.19
Lisistaya47                   3                 $3.06                 $9.19
Tyisriphos58                  2                 $4.59                 $9.18

In [22]:
# Resultado 
user_data

                 Número de Compras Valor Médio de Compra Valor Total de Compra
Login
Adairialis76                     1                 $2.46                 $2.46
Aduephos78                       3                 $2.23                 $6.70
Aeduera68                        3                 $1.93                 $5.80
Aela49                           1                 $2.46                 $2.46
Aela59                           1                 $1.27                 $1.27
Aelalis34                        2                 $2.53                 $5.06
Aelin32                          1                 $3.14                 $3.14
Aeliriam77                       2                 $3.36                 $6.72
Aeliriarin93                     1                 $2.04                 $2.04
Aeliru63                         2                 $4.49                 $8.98
Aellyria80                       1                 $4.32                 $4.32
Aellyrialis39                    1                 $3.15                 $3.15
Aellysup38                       1                 $3.61                 $3.61
Aelollo59                        1                 $1.55                 $1.55
Aenarap34                        1                 $1.65                 $1.65
Aenasu69                         1                 $3.27                 $3.27
Aeral43                          1                 $2.72                 $2.72
Aeral85                          1                 $4.25                 $4.25
Aeral97                          1                 $2.35                 $2.35
Aeri84                           2                 $3.30                 $6.60
Aerillorin70                     1                 $1.88                 $1.88
Aerithllora36                    3                 $3.48                $10.45
Aerithnucal56                    2                 $1.59                 $3.18
Aerithnuphos61                   1                 $1.69                 $1.69
Aerithriaphos45                  1                 $2.38                 $2.38
Aesty51                          1                 $1.82                 $1.82
Aesur96                          1                 $4.66                 $4.66
Aethe80                          1                 $2.32                 $2.32
Aethedru70                       1                 $2.97                 $2.97
Aidain51                         2                 $3.42                 $6.84
...                            ...                   ...                   ...
Undjaskla97                      1                 $4.57                 $4.57
Undjasksya56                     1                 $4.53                 $4.53
Undotesta33                      1                 $3.90                 $3.90
Wailin72                         1                 $2.04                 $2.04
Whaestysu86                      1                 $4.08                 $4.08
Yadacal26                        1                 $1.93                 $1.93
Yadaisuir65                      2                 $4.28                 $8.56
Yadanun74                        3                 $3.03                 $9.09
Yalaeria91                       1                 $1.88                 $1.88
Yaliru88                         1                 $3.71                 $3.71
Yalo71                           1                 $2.41                 $2.41
Yalostiphos68                    1                 $2.37                 $2.37
Yaralnura48                      2                 $2.10                 $4.19
Yararmol43                       1                 $1.55                 $1.55
Yarirarn35                       1                 $2.88                 $2.88
Yaristi64                        1                 $1.24                 $1.24
Yarithllodeu72                   1                 $2.19                 $2.19
Yarithphos28                     1                 $2.35                 $2.35
Yarithsurgue62                   2                 $2.41                 $4.81
Yarmol79                         1                 $2.91                 $2.91
Yarolwen77                       2                 $3.49                 $6.98
Yasriphos60                      3                 $3.47                $10.40
Yasrisu92                        1                 $2.60                 $2.60
Yasur35                          1                 $2.78                 $2.78
Yasur85                          1                 $2.04                 $2.04
Yasurra52                        1                 $3.14                 $3.14
Yathecal72                       2                 $3.88                 $7.77
Yathecal82                       1                 $2.41                 $2.41
Zhisrisu83                       2                 $1.23                 $2.46
Zontibe81                        1                 $3.71                 $3.71

[573 rows x 3 columns]

## Itens Mais Populares

In [23]:
# Cálculos básicos
user_total = purchase_file.groupby(["Nome do Item"]).sum()["Valor"].rename("Valor Total de Compra")
user_average = purchase_file.groupby(["Nome do Item"]).mean()["Valor"].rename("Valor Médio de Compra")
user_count = purchase_file.groupby(["Nome do Item"]).count()["Valor"].rename("Número de Compras")

# Dataframe para os resultados
user_data = pd.DataFrame({"Valor Total de Compra": user_total, "Valor Médio de Compra": user_average, "Número de Compras": user_count})

# Data Munging
user_data ["Valor Total de Compra"] = user_data["Valor Total de Compra"].map("${:,.2f}".format)
user_data ["Valor Médio de Compra"] = user_data["Valor Médio de Compra"].map("${:,.2f}".format)
user_data.sort_values("Número de Compras", ascending=False).head(5)

,Número de Compras,Valor Médio de Compra,Valor Total de Compra
Nome do Item,,,
Final Critic,14,$2.76,$38.60
Arcane Gem,11,$2.23,$24.53
"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
Stormcaller,10,$3.46,$34.65
Woeful Adamantite Claymore,9,$1.24,$11.16

## Itens Mais Lucrativos

In [24]:
# Cálculos básicos
user_total = purchase_file.groupby(["Nome do Item"]).sum()["Valor"].rename("Valor Total de Compra")
user_average = purchase_file.groupby(["Nome do Item"]).mean()["Valor"].rename("Valor Médio de Compra")
user_count = purchase_file.groupby(["Nome do Item"]).count()["Valor"].rename("Número de Compras")

# Dataframe para os resultados
user_data = pd.DataFrame({"Valor Total de Compra": user_total, "Valor Médio de Compra": user_average, "Número de Compras": user_count})

# Data Munging
user_data ["Valor Total de Compra"] = user_data["Valor Total de Compra"].map("${:,.2f}".format)
user_data ["Valor Médio de Compra"] = user_data["Valor Médio de Compra"].map("${:,.2f}".format)
user_data.sort_values("Valor Total de Compra", ascending=False).head(5)

,Número de Compras,Valor Médio de Compra,Valor Total de Compra
Nome do Item,,,
Shadowsteel,5,$1.98,$9.90
Souleater,3,$3.27,$9.81
"Shadow Strike, Glory of Ending Hope",5,$1.93,$9.65
"Heartseeker, Reaver of Souls",3,$3.21,$9.63
Agatha,5,$1.91,$9.55

## Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>