# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 5</font>

## Download: http://github.com/dsacademybr

## Objetos

Em Python, tudo é objeto!

In [1]:
# Criando uma lista
lst_num = ["Data", "Science", "Academy", "Nota", 10, 10]

In [2]:
# A lista lst_num é um objeto, uma instância da classe lista em Python
type(lst_num)

list

In [3]:
lst_num.count(10)

2

In [4]:
# Usamos a função type, para verificar o tipo de um objeto
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [5]:
# Criando um novo tipo de objeto chamado Carro
class Carro(object):
    pass

# Instância do Carro
palio = Carro()

print(type(palio))

<class '__main__.Carro'>

In [6]:
# Criando uma classe
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [7]:
# Criando um objeto chamado Estudante1 a partir da classe Estudantes
Estudante1 = Estudantes("Pele", 12, 9.5)

In [8]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudante1.nome

'Pele'

In [9]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudante1.idade

12

In [10]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudante1.nota

9.5

In [11]:
# Criando uma classe
class Funcionarios:
    def __init__(self, nome, salario):
        self.nome = nome
        self.salario = salario

    def listFunc(self):
        print("O nome do funcionário é " + self.nome + " e o salário é R$" + str(self.salario))

In [12]:
# Criando um objeto chamado Func1 a partir da classe Funcionarios
Func1 = Funcionarios("Obama", 20000)

In [13]:
# Usando o método da classe
Func1.listFunc()

O nome do funcionário é Obama e o salário é R$20000

In [14]:
print("**** Usando atributos *****")

**** Usando atributos *****

In [15]:
hasattr(Func1, "nome")

True

In [16]:
hasattr(Func1, "salario")

True

In [17]:
setattr(Func1, "salario", 4500)

In [18]:
hasattr(Func1, "salario")

True

In [19]:
getattr(Func1, "salario")

4500

In [20]:
delattr(Func1, "salario")

In [21]:
hasattr(Func1, "salario")

False

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>